{% extends "lab_8/layout/base.html" %}
{% block content %}
      <script src="/static/js/lab_8.js"></script>
        <div class="container" style="align-content: center;">
          <br><br>
          <div id="lab8">
          </div>
        </div>
{% endblock %}

