body {
  min-height: 2000px;
  background-color: lightblue;
  
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}
#cover {
	max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
#picture{
	border: 10px solid transparent;
    padding: 15px;
}