{% extends "lab_7/layout/base.html" %}
{% url 'lab_7:friend_list' %}
{% block content %}
    <section name="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">
                        
                        <table cellspacing="10" style="width:400px">
                          <tr >
                            <td>Nama</td>
                            <td>NPM</td>
                          </tr>
                          
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
{% endblock %}
{% block javascript %}
    <script>
        var deletefriend = function(npm) {
                $.ajax({
                    method: "GET",
                    url: "/lab-7/delete-friend/"+npm,
                    data: {npm : npm},
                    success : function(status){
                        $('#'+npm).remove();
                    },
                    error : function (error){
                        alert('gagal');
                    }
                });
           };

        $(document).ready(function () {

            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}", // update
                dataType: 'json',
                success: function (response) {
                     for (var key in response['results']){
                        console.log(response['results'][key]) 
                        html =  "<div id="+response['results'][key]['npm']+"><tr><td style='width:250px'>"
                        +response['results'][key]['friend_name']+"</td><td>"+response['results'][key]['npm']
                        +"</td><td><span class='btn btn-xs btn-default' onClick=deletefriend(" + '"'+ response['results'][key]['npm']+ '"' +")> Delete </span></td></tr><hr></div>";
                        $('#friend-list').append(html);
                    }           
                },
                error: function(error){
                    alert("error");
                },

            });
        });
    </script>
{% endblock %}
